


.contact{
    padding: 150px 0px;
    background-color: #e7e7e7;
}
.contact__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.contact__box{
    width: 1000px;
    background-color: #fff;
    padding: 20px;
}
.contact__title{
    font-size: 18px;
    color: black;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    color: black;
    font-size: 12px;
    line-height: 20px;
    padding: 10px 0px;
}
.contact__item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #bbb;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

@media(max-width:1000px){
    .container{
        width: 900px;
    }
}
@media(max-width:920px){
    .container{
        width: 800px;
    }
    


.contact{
    padding: 150px 0px;
    background-color: #e7e7e7;
}
.contact__container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.contact__box{
    width: 800px;
    margin: 0 auto;
}
.contact__title{
    font-size: 18px;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    font-size: 12px;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
}

@media(max-width:820px){
    .container{
        width: 700px;
    }
    


.contact__container{
    max-width: 700px;
}
.contact__box{
    width: 700px;
    margin: 0 auto;
}
.contact__title{
    font-size: 18px;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    font-size: 12px;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
}

@media(max-width:720px){
    .container{
        width: 600px;
    }

.contact__container{
    max-width: 600px;
}
.contact__box{
    width: 600px;
    margin: 0 auto;
}
.contact__title{
    font-size: 18px;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    font-size: 12px;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
}
@media(max-width:620px){
    .container{
        width: 500px;
    }

.contact__container{
    max-width: 500px;
}
.contact__box{
    width: 500px;
    margin: 0 auto;
}
.contact__title{
    font-size: 18px;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    font-size: 12px;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
}
@media(max-width:520px){
    .container{
        width: 400px;
    }

.contact__container{
    max-width: 400px;
}
.contact__box{
    width: 500px;
    margin: 0 auto;
}
.contact__title{
    font-size: 18px;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    font-size: 12px;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
}

@media(max-width:420px){
    .container{
        width: 300px;
    }

.contact__container{
    max-width: 300px;
}
.contact__box{
    width: 500px;
    margin: 0 auto;
}
.contact__title{
    font-size: 18px;
}
.contact__box{
    border-radius: 10px;
}
.contact__text{
    font-size: 12px;
}
.contact__link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
}